.green-snackbar {
  color: white;
  background-color: green;
}

.green-snackbar .mat-simple-snackbar-action {
  color: white;
}

.blue-snackbar {
  color: white;
  background-color: red;
}

.blue-snackbar .mat-simple-snackbar-action {
  color: white;
}
.example-chip-list {
  width: 75%;
}
