<article class="table-header">
  <div style="width: 90%; text-align: center;">
  <h2 style="display:inline;" ><span style="color: #0a5f62;">{{menuName}}</span> menu items</h2>
  </div>
  <div *ngIf="!viewMode">
    <!--<button mat-raised-button color="warn" 
            (click)="removeSelectedRows()">
      Remove Items
    </button>&nbsp;-->
    <button class="button-add-row" mat-raised-button (click)="addRow()">
      Add Item
    </button>
  </div>
</article>
<div>
  <mat-error class="errorTextSize">{{previousAddOrEditExistsErrorMessage}}</mat-error>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
      <!--<span *ngSwitchCase="'isSelected'">
        <mat-checkbox (change)="selectAll($event)"
                      [checked]="isAllSelected()"
                      [indeterminate]="!isAllSelected() && isAnySelected()" *ngIf="!viewMode"></mat-checkbox>&nbsp;&nbsp;&nbsp;
      </span>-->
      <span *ngSwitchDefault>{{ col.label }}</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <!--<ng-container *ngSwitchCase="'isSelected'">
    <mat-checkbox (change)="element.isSelected = $event.checked"
                  [checked]="element.isSelected" *ngIf="!viewMode"></mat-checkbox>&nbsp;&nbsp;&nbsp;
  </ng-container>-->
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <span *ngIf="!viewMode">
            <!--<button mat-raised-button style="display:inline;background-color: #e6e600; color: black"
              (click)="editRow(element)">
        <mat-icon>edit</mat-icon>
      </button>&nbsp;-->
            <button mat-button mat-raised-button style="display: inline; color: red"
                    (click)="removeRow(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
        <span *ngSwitchCase="'date'">
          {{ element[col.key] | date: 'mediumDate' }}
        </span>
        <span *ngSwitchCase="'qty'">
          {{ element[col.key].unitLookupValue }}
        </span>
        <span *ngSwitchDefault>
          {{ element[col.key] }}

        </span>
      </div>
      <div [ngSwitch]="col.type" *ngIf="element.isEdit">
        <div *ngSwitchCase="'isSelected'"></div>
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-raised-button style="background-color: green; color: white"
                  (click)="editCompletedRow(element)"
                  [disabled]="disableSubmit(element.itemName)">
            Done
          </button>
        </div>
        <span *ngSwitchCase="'item'">
          <mat-form-field class="form-input" appearance="fill" *ngIf="element.isAdd">
            <!--<mat-label>Choose below</mat-label>-->
            <input [type]="col.type" [required]="col.required" [pattern]="col.pattern" matInput
                   [formControl]="itemControl" [(ngModel)]="element[col.key]" [matAutocomplete]="auto"
                   (change)="inputHandler($event, element.itemName, col.key)">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                              (optionSelected)='selected($event.option.value)'>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.itemName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span *ngIf="!element.isAdd">
            {{ element[col.key] }}
          </span>
        </span>
        <mat-form-field class="form-input" appearance="fill" *ngSwitchCase="'childItem'">
          <mat-select [required]="col.required" [pattern]="col.pattern"
                      [(ngModel)]="element[col.key]" [(value)]="selectedChildItem"
                      (change)="inputHandler($event, element.itemName, col.key)">
            <mat-option *ngFor="let item of childItems" [value]="item.itemName">
              {{item.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-input" appearance="fill" *ngSwitchCase="'qty'">
          <mat-select [required]="col.required" [pattern]="col.pattern"
                      [(ngModel)]="element[col.key]" [(value)]="selectedUnit"
                      (change)="inputHandler($event, element.itemName, col.key)">
            <mat-option *ngFor="let lookup of itemLookupUnits" [value]="lookup">
              {{lookup.unitLookupValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-input" *ngSwitchDefault>
          <input matInput
                 [required]="col.required"
                 [pattern]="col.pattern"
                 [type]="col.type"
                 [(ngModel)]="element[col.key]"
                 (change)="inputHandler($event, element.itemName, col.key)" />
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<br /><br /><br />
<div style="float: right">
  <button mat-raised-button color="warn"
          [mat-dialog-close]="true">
    Cancel
  </button>&nbsp;
  <button class="button-add-row" mat-raised-button (click)="save()">
    Save
  </button>
</div>
<br />
<br />
