<div class="parent-div" *ngIf="!dataExists">
  <mat-card>
    <mat-card-content>
      <h2>There are no new orders created by you</h2>
    </mat-card-content>
  </mat-card>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataExists">

  <caption><h1 class="page-headers">Created Daily Orders</h1></caption>
  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
  </ng-container>

  <ng-container matColumnDef="customerUsername">
    <th mat-header-cell *matHeaderCellDef> Customer Email </th>
    <td mat-cell *matCellDef="let element"> {{element.customerUsername}} </td>
  </ng-container>

  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef> Reference Order ID </th>
    <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
  </ng-container>

  <ng-container matColumnDef="orderStatus">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="openDialog(element)">View</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
