<div>
  <h2>Bill Details</h2>
  <!--<mat-card style="margin:0 auto;width:95%;padding-right: 0;padding-left:22px;">
    <mat-card-content>-->
  <div class="order-block" *ngFor="let orderItem of dataSource.orderItems">
    <div class="order-list">
      <div class="order-data">
        <h2 style="font-size: 16px;margin-bottom: 0;">
          <span>
            {{orderItem.parentItemName}} - {{orderItem.childItemName}}
          </span>
          <span style="float: right">
            {{orderItem.quantity}} * ({{orderItem.itemWeightsAndPrices.quantity}} {{orderItem.itemWeightsAndPrices.quantityUnit.unitLookupValue}} - ${{orderItem.itemWeightsAndPrices.itemPrice}})
          </span>
        </h2>
      </div>
      <!--<div class="add-order">
        <img src="/assets/img/orderlist1.jpg" style="margin-top:0px;">
      </div>-->
    </div>
  </div><br />
  <hr><br />

  <div class="ordersummary" *ngIf="cartTotal!=0">
    <p style="font-weight: 600;">Item Total <span>${{cartTotal | number:'1.2'}}</span></p>
    <p>Order package charges <span>$10.00</span></p>
    <p>Delivery partner fee <span>$20.00</span></p>
    <p style="color: green;">Discount Applied <span>-$30.00</span></p>
    <p>Taxes <span>$30.00</span></p>
    <p style="font-weight: 600;">Bill Total <span>${{cartTotal+30 | number:'1.2'}}</span></p>
  </div>

  <div align="end">
    <button mat-raised-button color="accent" [mat-dialog-close]>Close</button>&nbsp;
    <button mat-raised-button color="primary" (click)="confirm()" *ngIf="nextStatusValue">{{nextStatusValue}}</button>
  </div>
  <!--</mat-card-content>
  </mat-card>-->
</div>
