
<div><button mat-raised-button color="primary" class="defaultlogin" routerLink="/login">
  <mat-icon>power_settings_new</mat-icon>&nbsp;Login
</button>&nbsp;&nbsp;
</div>

<div style="padding:10px;position:absolute;left: 30%;top: 13%;"><img src="/assets/img/defaultlogo1.png" >
    <div style="text-align: center;"><span style="font-weight:bold;font-size: 20px;color: #187c00;padding-right: 15px;">New to application ? </span>
        <button mat-raised-button color="primary"  class="defaultlogin defaultregister" routerLink="/signup">Register</button></div>
</div>
