.defaultlogin {
    box-shadow: none;
    background: #efb474;
    padding: 6px 25px;
    border-radius: 30px;
    font-size: 18px;
    margin:20px;
    background:linear-gradient(to right, #820202,#f10000);
    width: 150px;
}
.defaultregister {
    background:linear-gradient(to right,#f10000, #820202); 
    margin: 0;
}